__pycache__/
build
plotting
data
fragments*
logs 
maestro_visualizations
notebooks
output*
plotting
trained_models*
evaluation.log
*.egg-info
*.env
*.flake8
*.pyc
*.pytest_cache
*.sh
*.tar.gz
*.vscode